<div class="container wrapper">
  <h2>Faça a simulação e gere um PDF do seu histórico escolar</h2>
  <h3>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos quaerat sit
    nemo quibusdam eum sed, dolorem minima fugiat odit cum, perspiciatis
    corporis. Commodi debitis perferendis dolorem suscipit. Voluptas, nesciunt
    laudantium?
  </h3>
  <div class="selection-item-container">
    <app-selection-item (click)="onSelectMode('HIGH_SCHOOL')" />
    <app-selection-item (click)="onSelectMode('HIGH_SCHOOL')" />
  </div>
</div>
